{
  "apps": {
    "nina": {
      "consumer_key": "",
      "consumer_token": ""
    }
  },
  "accounts": {
    "ninarudesuyo": {
      "app": "nina",
      "access_token": "",
      "access_token_secret": ""
    }
  },
  "kimochi": {
    "account": "ninarudesuyo",
    "minutes": [0, 15, 30, 45],
    "messages": [
      {
        "text": "{}の気持ちになるですよ",
        "ratio": 3
      },
      {
        "text": "{}の気持ちがつかめなかったでごぜーます……",
        "ratio": 1
      }
    ]
  }
}